*{
    margin: 0;
    padding: 0;
}
.wrapper{
    background-image: linear-gradient(40deg, rgb(69,202,252),rgb(48,63,159));
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;

}
/* .page{
    background-color: white;
    width:650px;
    height:650px;
    border:1px solid black;
    margin:auto;
    margin-top: 80px;
    z-index: 2;
} */
.page2 ,.page3,.page{
    background-color: white;
    width:650px;
    height:650px;
    border:0.5px solid gray;
    position: absolute;
    z-index: 0;
    top:110px;
    box-sizing: border-box;
    left:50%;
    margin-left:-325px;
    transform-origin: center;
    transform: rotate(2.5deg);
}
.page3{
    transform:rotate(-2.5deg);
}
.page{
    transform:rotate(0);
    z-index: 2;
}
.container{
    position: relative;
    top:50px;
    display: grid;
    grid-template-columns: auto auto auto;
    width: 600px;
    height: 600px;
    margin:50px auto;
    z-index: 5;
    transition: 2s;
}
#box1, #box2, #box0,#box3,#box4,#box5{
    border-bottom: 5px dashed black;
}
#box0,#box1,#box3,#box4,#box6,#box7{
    border-right: 5px dashed black;
}
.cross{
    background-image: url("./cross.png");
}
.zero{
    background-image: url("./zero.png");
}
#custom-confirm{
    position: absolute;
    width:600px;
    height: 300px;
    margin:100px 651px;
    background-color: darkgrey;
    text-align: center;
    z-index: 10;
}
#message{
    position: relative;
    text-align: center;
    top: 40px;
    color: black;
    background-color: aqua;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 40px;
    width: 100%;
}
#option1{
    background-color: blue;
    position: relative;
    width:100px;
    height:60px;
    z-index: 30;
    top:150px;
    left:110px;
    cursor:pointer;
}
#option2{
    background-color: blue;
    position: relative;
    width:100px;
    height:60px;
    z-index: 30;
    top:90px;
    left:400px;
    cursor:pointer;
}
.none{
    display:none;
}
@keyframes mango{
    0%{
        translate: 100vw;
    }
    20%{
        display:none;
    }
   40% {
        z-index: -5;
    }
    60%{
        translate:-50vw;
    }
    80%{
        z-index:0;
    }
    90%{
        display:grid;
    }
    100%{
        translate:0;
    }
}
.gone{
    animation-name: mango;
    animation-duration: 2s;

}