.container {
  background-color: rgb(66, 133, 244);
  border-radius: 50%;
  height: 64px;
  width: 64px;
  border-width: 0;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 5px 11px 0px,
    rgba(0, 0, 0, 0.15) 0px 4px 15px 0px;
}
.icon {
  color: white;
  font-size: 29px;
}