.border-up {
  border-top: 1px solid gray;
}
.border-down {
  border-bottom: 1px solid gray;
}
.border-left {
  border-left: 1px solid gray;
}
.border-right {
  border-right: 1px solid gray;
}
.cell {
  height: 100%;
  width: 100%;
  padding: 1rem;
}
