.container {
  height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(40deg, rgb(69, 202, 252), rgb(48, 63, 159));
}
